<header th:fragment="header" class="site-header sticky-top py-1" xmlns="http://www.w3.org/1999/xhtml">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block text-decoration-none" th:href="@{/}">Main Page</a>
    <a class="py-2 d-none d-md-inline-block text-decoration-none" th:href="@{/catalog}">Catalog</a>
    <a class="py-2 d-none d-md-inline-block text-decoration-none" th:href="@{/about}">About us</a>
    <a class="py-2 d-none d-md-inline-block text-decoration-none" th:href="@{/support}">Support</a>
  </nav>

  <a th:href="@{/signin}" class = "btn btn-primary btn-sm mb-3">Login</a>
  <a th:href="@{/register}" class = "btn btn-primary btn-sm mb-3">Register</a>
  <a th:href="@{/logout}" class = "btn btn-primary btn-sm mb-3">Logout</a>

  <div th:if="${#authorization.authentication.isAuthenticated()}">
    <div class="row row-cols-auto" >
      <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="col" >
        <a href="/admin/" class = "btn btn-primary btn-sm mb-3">Admin</a>
      </div>
      <div th:if="${#authorization.expression('hasRole(''ROLE_MANAGER'')')}" class="col" >
        <a href="/manager/" class = "btn btn-primary btn-sm mb-3">Manager</a>
      </div>
      <div th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" class="col" >
        <a href="/user/" class = "btn btn-primary btn-sm mb-3">User</a>
      </div>
    </div>
  </div>

</header>